@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #ff6b6b;
  --overlay: rgba(0, 0, 0, 0.8); /* background color overlay for alert dialogs, modals, etc. */
  --supayellow: #FFDF00;

  --bg: #f5f5f5;
  --bw: #fff; /* white and secondary black e.g. utility class variant would be: bg-[#fff] dark:bg-[#212121] */
  --blank: #000; /* blank black and white */
  --border: #000;
  --text: #000;
  --mtext: #fff; /* text that is placed on background with main color e.g. text color of default button */
  --ring: #000;
  --ring-offset: #fff;

  --border-radius: 6px;
  --box-shadow-x: 6px;
  --box-shadow-y: 6px;
  --reverse-box-shadow-x: -6px;
  --reverse-box-shadow-y: -6px;
  --base-font-weight: 500;
  --heading-font-weight: 700;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

.dark {
  --bg: #1a1a1a; /* Dark grey background */
  --bw: #212121; /* Darker background-white for dark mode */
  --blank: #fff; /* Inverted blank color for dark mode */
  --border: #333; /* Darker border for dark mode */
  --text: #f0f0f0; /* Light text for better contrast on dark background */
  --mtext: #fff; /* Text on main color elements */
  --ring: #333; /* Darker ring color */
  --ring-offset: #1a1a1a; /* Darker ring offset */

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px #333;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg text-text;
  }
}
